table {
    width: calc(100% - 20px);
    min-height: 150px;
    border-collapse: collapse;
    margin: 20px;
}

th {
    border-bottom: 1px solid black;
    border: 2px solid black;
}
    
td {
    text-align: center;
    border: 2px solid black;
}

tr:nth-child(2n) {
    background-color: #dddddd;
  }
.tableHeader{
    background-color: #c9c9c9;
}