.button1, .button2{
    margin: 10px 0;
}
.button1{
    display: inline-flex;
    height: 80px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: fantasy;
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
}
.button1:hover{
    background: #008168;
}
.button1:active{
    background: #006e58;
    
}
.button1__text,
.button1__icon{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}
.button1__icon{
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}



.button2{
    display: inline-flex;
    height: 80px;
    padding: 0;
    background: #751f10;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: fantasy;
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
}
.button2:hover{
    background: #921f10;
}
.button2:active{
    background: #ff1e00;
    
}
.button2__text,
.button2__icon{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}
.button2__icon{
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}


.button-place{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backButton{
    position: fixed; 
    top: 5px;
    left: 5px;
    cursor: pointer;
}
.backButton div{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 35px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
.backButton div span{
    position: relative;
    z-index: 2;
  }
  
.backButton div:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #008fb3;
    transition: all .35s;
  }

.backButton:hover > div span{
    color: #fff;

}
.backButton div:hover{
    color: #fff;
  }
  
.backButton div:hover:after{
    width: 100%;
  }

  